* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.openingAfter {
  display: flex;
  justify-content: center;
  align-items: center;

  .days,
  .hours,
  .minutes,
  .seconds {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-size: 10px;
    }
  }
}

img {
  width: 300px;
}
